<% include ./shoptop %>
<div style="margin-top: 50px">
	<div class="row">
<% include ./shopLeft %>
 <div class="col-sm-8" id="main">
 </div>
 <div class="col-sm-2"></div>
 </div>
</div>
</body>
</html>
<% include ./clerk %>


        	
        
