<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="/javascripts/jquery-2.1.4.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <style>
        html,body{
          height: 100%;
        }
        .headStyle{
             height: 2.5em;
             margin-top:6px;
        }
   </style>
  </head>
  <body>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10 headStyle" style='height: 30px;margin:auto;text-align: center;'>
                <%-loginbean.nicheng%>的管理空间
          </div>
          <div class="col-sm-1"></div>
        </div>