<% include ./shoptop %>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-1" style='text-align: center'>
                <% include ./shopleft %>
          </div>
          <div class="col-sm-9" style='text-align: center;'>
                <% include ./clerks %>
          </div>
          <div class="col-sm-1"></div>
        </div>
</body>
</html>