	 <div class="col-sm-2" style="margin-left: 100px;margin-top: 30px">
<a href="./clerk" class="list-group-item" data-toggle="modal" data-target="#myModal">店员管理</a>
<a href="./menu" class="list-group-item">菜单管理</a>
<a href="#" class="list-group-item">免费 Window 空间托管</a>
<a href="#" class="list-group-item">图像的数量</a>
<a href="#" class="list-group-item">每年更新成本</a>
</div>